# assignment 2

# question 4

In [459]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\johan\anaconda3\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\johan\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\johan\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\johan\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\johan\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\johan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\johan\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\johan\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\johan\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\johan\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [460]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time

In [461]:
driver=webdriver.Chrome()
url="https://www.flipkart.com/"
driver.get(url)

In [462]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g
search_g.send_keys('sunglasses')

In [463]:
search_btn=driver.find_element(By.CLASS_NAME,"_2iLD__")
search_btn

In [465]:
search_btn=driver.find_element(By.CLASS_NAME,"_2iLD__")
search_btn.click()

In [466]:
Brand_name=[]
Price=[]
p_de=[]

In [488]:
for i in range(3):
    B_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    pri =driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    p_des=driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
   
    for j  in B_name:
        Brand_name.append(j.text)
    Brand_name[:100]    
           
    for k in pri:
        Price.append(k.text)
    Price[:100] 
     
    for l in p_des:
        p_de.append(l.text)
    p_de[:100]

In [489]:
Brand_name[:100]

['iCopertina',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'iCopertina',
 'Fastrack',
 'ROADWAY',
 'VINCENT CHASE',
 'GANSTA',
 'ROYAL SON',
 'Nicole Miller',
 'Eyewearlabs',
 'Rich Club',
 'ROADWAY',
 'PIRASO',
 'ROZZETTA CRAFT',
 'iCopertina',
 'john jacobs',
 'Elligator',
 'ROADWAY',
 'VINCENT CHASE',
 'iCopertina',
 'Roadster',
 'ROADWAY',
 'ROZZETTA CRAFT',
 'Eyenaks',
 'ROYAL SON',
 'ROYAL SON',
 'Roadster',
 'ROADWAY',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'METRONAUT',
 'Roadster',
 'PIRASO',
 'IRUS',
 'ROYAL SON',
 'Rich Club',
 'GANSTA',
 'iCopertina',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'iCopertina',
 'Fastrack',
 'ROADWAY',
 'VINCENT CHASE',
 'GANSTA',
 'ROYAL SON',
 'Nicole Miller',
 'Eyewearlabs',
 'Rich Club',
 'ROADWAY',
 'PIRASO',
 'ROZZETTA CRAFT',
 'iCopertina',
 'john jacobs',
 'Elligator',
 'ROADWAY',
 'VINCENT CHASE',
 'iCopertina',
 'Roadster',
 'ROADWAY',
 'ROZZETTA CRAFT',
 'Eyenaks',
 'ROYAL SON',
 'ROYAL SON',
 'Roadster',
 'ROADWAY',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'METRONAUT',
 'Roadster',
 'PIRASO',
 'IRUS',
 'ROYAL SON',
 'Rich Club',
 'GANSTA',
 'iCopertina',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'iCopertina',
 'Fastrack',
 'ROADWAY',
 'VINCENT CHASE',
 'GANSTA',
 'ROYAL SON',
 'Nicole Miller',
 'Eyewearlabs',
 'Rich Club',
 'ROADWAY',
 'PIRASO',
 'ROZZETTA CRAFT',
 'iCopertina',
 'john jacobs',
 'Elligator',
 'ROADWAY']

In [490]:
Price[:100]

['UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Polarized Butterfly Sunglasses (64)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (51)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Others Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, UV Protection Sports Sunglasses (69)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Sunglass',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Polarized Butterfly Sunglasses (64)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (51)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Others Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, UV Protection Sports Sunglasses (69)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Sunglass',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Polarized Butterfly Sunglasses (64)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (51)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Spectacle Sunglasses (Free Size)']

In [491]:
p_de[:100]

['₹209₹99979% off',
 '₹339₹1,49977% off',
 '₹549₹1,09950% off',
 '₹149₹1,29988% off',
 '₹199₹99980% off',
 '₹449₹89950% off',
 '₹199₹1,29984% off',
 '₹799₹1,99960% off',
 '₹79₹1,29993% off',
 '₹489₹1,99975% off',
 '₹2,499₹9,99975% off',
 '₹1,236₹3,59965% off',
 '₹399₹1,29969% off',
 '₹254₹99974% off',
 '₹219₹1,59986% off',
 '₹599₹2,55576% off',
 '₹219₹99978% off',
 '₹1,299₹6,00078% off',
 '₹159₹1,29987% off',
 '₹242₹1,29981% off',
 '₹799₹1,99960% off',
 '₹199₹99980% off',
 '₹199₹94979% off',
 '₹199₹99980% off',
 '₹399₹1,99980% off',
 '₹365₹1,49975% off',
 '₹424₹1,49971% off',
 '₹424₹1,49971% off',
 '₹199₹89977% off',
 '₹354₹1,99982% off',
 '₹339₹1,49977% off',
 '₹719₹2,50071% off',
 '₹599₹99940% off',
 '₹199₹1,29984% off',
 '₹249₹1,19979% off',
 '₹275₹2,59989% off',
 '₹469₹89047% off',
 '₹641₹1,49957% off',
 '₹294₹99970% off',
 '₹199₹1,29984% off',
 '₹54950% off',
 '₹7993% off',
 '₹71971% off',
 '₹36575% off',
 '₹14988% off',
 '₹209₹99979% off',
 '₹339₹1,49977% off',
 '₹549₹1,09950% off',
 '₹149₹1,29988% off',
 '₹199₹99980% off',
 '₹449₹89950% off',
 '₹199₹1,29984% off',
 '₹799₹1,99960% off',
 '₹79₹1,29993% off',
 '₹489₹1,99975% off',
 '₹2,499₹9,99975% off',
 '₹1,236₹3,59965% off',
 '₹399₹1,29969% off',
 '₹254₹99974% off',
 '₹219₹1,59986% off',
 '₹599₹2,55576% off',
 '₹219₹99978% off',
 '₹1,299₹6,00078% off',
 '₹159₹1,29987% off',
 '₹242₹1,29981% off',
 '₹799₹1,99960% off',
 '₹199₹99980% off',
 '₹199₹94979% off',
 '₹199₹99980% off',
 '₹399₹1,99980% off',
 '₹365₹1,49975% off',
 '₹424₹1,49971% off',
 '₹424₹1,49971% off',
 '₹199₹89977% off',
 '₹354₹1,99982% off',
 '₹339₹1,49977% off',
 '₹719₹2,50071% off',
 '₹599₹99940% off',
 '₹199₹1,29984% off',
 '₹249₹1,19979% off',
 '₹275₹2,59989% off',
 '₹469₹89047% off',
 '₹641₹1,49957% off',
 '₹294₹99970% off',
 '₹199₹1,29984% off',
 '₹54950% off',
 '₹7993% off',
 '₹71971% off',
 '₹36575% off',
 '₹14988% off',
 '₹209₹99979% off',
 '₹339₹1,49977% off',
 '₹549₹1,09950% off',
 '₹149₹1,29988% off',
 '₹199₹99980% off',
 '₹449₹89950% off',
 '₹199₹1,29984% off',
 '₹799₹1,99960% off',
 '₹79₹1,29993% off',
 '₹489₹1,99975% off']

In [496]:
print(len(Brand_name[:100]),len(Price[:100]),len(p_de[:100]))

100 100 100

In [500]:
import pandas as pd
df=pd.DataFrame({'Brand_Name':Brand_name[:100],'Price':p_de[:100],'Description':Price[:100]})

In [501]:
df

,Brand_Name,Price,Description
0,iCopertina,₹209₹99979% off,UV Protection Retro Square Sunglasses (Free Size)
1,ROYAL SON,"₹339₹1,49977% off",Mirrored Aviator Sunglasses (58)
2,Fastrack,"₹549₹1,09950% off",UV Protection Wayfarer Sunglasses (58)
3,SRPM,"₹149₹1,29988% off",UV Protection Wayfarer Sunglasses (50)
4,iCopertina,₹199₹99980% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...
95,ROZZETTA CRAFT,₹449₹89950% off,UV Protection Round Sunglasses (51)
96,iCopertina,"₹199₹1,29984% off","UV Protection Aviator, Wayfarer Sunglasses (54)"
97,john jacobs,"₹799₹1,99960% off","UV Protection Wayfarer, Sports, Spectacle , Re..."
98,Elligator,"₹79₹1,29993% off","Polarized, UV Protection Round Sunglasses (51)"
99,ROADWAY,"₹489₹1,99975% off",UV Protection Spectacle Sunglasses (Free Size)

In [502]:
driver.close()

# QUESTION 6

In [509]:
driver=webdriver.Chrome()
url="https://www.flipkart.com/"
driver.get(url)

In [511]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g
search_g.send_keys('sneakers')

In [512]:
search_btn=driver.find_element(By.CLASS_NAME,"_2iLD__")
search_btn

In [513]:
search_btn=driver.find_element(By.CLASS_NAME,"_2iLD__")
search_btn.click()

In [514]:
Brand_name=[]
Price=[]
p_de=[]

In [539]:
for i in range(3):
    B_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    pri =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    p_des=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']/div")
   
    for j  in B_name:
        Brand_name.append(j.text)
    Brand_name[:100]    
           
    for k in pri:
        Price.append(k.text)
    Price[:100] 
     
    for l in p_des:
        p_de.append(l.text)
    p_de[:100]

In [540]:
    Brand_name[:100]

['BRUTON',
 'BRUTON',
 'URBANBOX',
 'Layasa',
 'aadi',
 'RED TAPE',
 'PUMA',
 'VENDOZ',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'aadi',
 'PUMA',
 'Layasa',
 'RED TAPE',
 'RED TAPE',
 'aadi',
 'Aragats',
 'PUMA',
 'Ego by NS',
 'Krors',
 'Krors',
 'U.S. POLO ASSN.',
 'aadi',
 'Layasa',
 'U.S. POLO ASSN.',
 'Afrojack',
 'VENDOZ',
 'Deals4you',
 'RED TAPE',
 'Zixer',
 'SOLETHREADS REBEL',
 'aadi',
 'U.S. POLO ASSN.',
 'PUMA',
 'NIKE',
 'Aqualite',
 'Fuoatieec',
 "K' Footlance",
 'PUMA',
 'BRUTON',
 'BRUTON',
 'URBANBOX',
 'Layasa',
 'aadi',
 'RED TAPE',
 'PUMA',
 'VENDOZ',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'aadi',
 'PUMA',
 'Layasa',
 'RED TAPE',
 'RED TAPE',
 'aadi',
 'Aragats',
 'PUMA',
 'Ego by NS',
 'Krors',
 'Krors',
 'U.S. POLO ASSN.',
 'aadi',
 'Layasa',
 'U.S. POLO ASSN.',
 'Afrojack',
 'VENDOZ',
 'Deals4you',
 'RED TAPE',
 'Zixer',
 'SOLETHREADS REBEL',
 'aadi',
 'U.S. POLO ASSN.',
 'PUMA',
 'NIKE',
 'Aqualite',
 'Fuoatieec',
 "K' Footlance",
 'PUMA',
 'BRUTON',
 'BRUTON',
 'URBANBOX',
 'Layasa',
 'aadi',
 'RED TAPE',
 'PUMA',
 'VENDOZ',
 'RED TAPE',
 'PUMA',
 'BRUTON',
 'aadi',
 'PUMA',
 'Layasa',
 'RED TAPE',
 'RED TAPE',
 'aadi',
 'Aragats',
 'PUMA',
 'Ego by NS']

In [541]:
    Price[:100]

['₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off',
 '₹497₹2,49980% off',
 '₹338₹99966% off',
 '₹1,899₹4,99962% off',
 '₹294₹99970% off',
 '₹1,187₹5,39978% off',
 '₹1,517₹6,89978% off',
 '₹299₹1,99985% off',
 '₹678₹99932% off',
 '₹2,249₹4,99955% off',
 '₹362₹99963% off',
 '₹499₹1,99975% off',
 '₹499₹1,99975% off',
 '₹1,187₹2,99960% off',
 '₹338₹99966% off',
 '₹299₹99970% off',
 '₹1,347₹3,39960% off',
 '₹549₹3,74585% off',
 '₹499₹99950% off',
 '₹409₹99959% off',
 '₹1,517₹6,89978% off',
 '₹729₹2,99575% off',
 '₹989₹2,49960% off',
 '₹343₹1,99982% off',
 '₹1,247₹3,59965% off',
 '₹2,699₹5,99955% off',
 '₹1,990₹3,99550% off',
 '₹699₹1,19941% off',
 '₹550₹99944% off',
 '₹289₹99971% off',
 '₹1,198₹3,99970% off',
 '₹49950% off',
 '₹28971% off',
 '₹33866% off',
 '₹49780% off',
 '₹3,14955% off',
 '₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off',
 '₹497₹2,49980% off',
 '₹338₹99966% off',
 '₹1,899₹4,99962% off',
 '₹294₹99970% off',
 '₹1,187₹5,39978% off',
 '₹1,517₹6,89978% off',
 '₹299₹1,99985% off',
 '₹678₹99932% off',
 '₹2,249₹4,99955% off',
 '₹362₹99963% off',
 '₹499₹1,99975% off',
 '₹499₹1,99975% off',
 '₹1,187₹2,99960% off',
 '₹338₹99966% off',
 '₹299₹99970% off',
 '₹1,347₹3,39960% off',
 '₹549₹3,74585% off',
 '₹499₹99950% off',
 '₹409₹99959% off',
 '₹1,517₹6,89978% off',
 '₹729₹2,99575% off',
 '₹989₹2,49960% off',
 '₹343₹1,99982% off',
 '₹1,247₹3,59965% off',
 '₹2,699₹5,99955% off',
 '₹1,990₹3,99550% off',
 '₹699₹1,19941% off',
 '₹550₹99944% off',
 '₹289₹99971% off',
 '₹1,198₹3,99970% off',
 '₹49950% off',
 '₹28971% off',
 '₹33866% off',
 '₹49780% off',
 '₹3,14955% off',
 '₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off']

In [542]:
p_de[:100]

['₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off',
 '₹497₹2,49980% off',
 '₹338₹99966% off',
 '₹1,899₹4,99962% off',
 '₹294₹99970% off',
 '₹1,187₹5,39978% off',
 '₹1,517₹6,89978% off',
 '₹299₹1,99985% off',
 '₹678₹99932% off',
 '₹2,249₹4,99955% off',
 '₹362₹99963% off',
 '₹499₹1,99975% off',
 '₹499₹1,99975% off',
 '₹1,187₹2,99960% off',
 '₹338₹99966% off',
 '₹299₹99970% off',
 '₹1,347₹3,39960% off',
 '₹549₹3,74585% off',
 '₹499₹99950% off',
 '₹409₹99959% off',
 '₹1,517₹6,89978% off',
 '₹729₹2,99575% off',
 '₹989₹2,49960% off',
 '₹343₹1,99982% off',
 '₹1,247₹3,59965% off',
 '₹2,699₹5,99955% off',
 '₹1,990₹3,99550% off',
 '₹699₹1,19941% off',
 '₹550₹99944% off',
 '₹289₹99971% off',
 '₹1,198₹3,99970% off',
 '₹49950% off',
 '₹28971% off',
 '₹33866% off',
 '₹49780% off',
 '₹3,14955% off',
 '₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off',
 '₹497₹2,49980% off',
 '₹338₹99966% off',
 '₹1,899₹4,99962% off',
 '₹294₹99970% off',
 '₹1,187₹5,39978% off',
 '₹1,517₹6,89978% off',
 '₹299₹1,99985% off',
 '₹678₹99932% off',
 '₹2,249₹4,99955% off',
 '₹362₹99963% off',
 '₹499₹1,99975% off',
 '₹499₹1,99975% off',
 '₹1,187₹2,99960% off',
 '₹338₹99966% off',
 '₹299₹99970% off',
 '₹1,347₹3,39960% off',
 '₹549₹3,74585% off',
 '₹499₹99950% off',
 '₹409₹99959% off',
 '₹1,517₹6,89978% off',
 '₹729₹2,99575% off',
 '₹989₹2,49960% off',
 '₹343₹1,99982% off',
 '₹1,247₹3,59965% off',
 '₹2,699₹5,99955% off',
 '₹1,990₹3,99550% off',
 '₹699₹1,19941% off',
 '₹550₹99944% off',
 '₹289₹99971% off',
 '₹1,198₹3,99970% off',
 '₹49950% off',
 '₹28971% off',
 '₹33866% off',
 '₹49780% off',
 '₹3,14955% off',
 '₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off']

In [527]:
print(len(Brand_name[:100]),len(Price[:100]),len(p_de[:100]))

100 100 100

In [528]:
import pandas as pd
df=pd.DataFrame({'Brand_Name':Brand_name[:100],'Price':p_de[:100],'Description':Price[:100]})

In [537]:
df

   Brand_Name                Price          Description
0      BRUTON    ₹497₹2,49980% off    ₹497₹2,49980% off
1      BRUTON    ₹497₹2,49980% off    ₹497₹2,49980% off
2    URBANBOX      ₹299₹99970% off      ₹299₹99970% off
3      Layasa      ₹299₹99970% off      ₹299₹99970% off
4        aadi    ₹289₹1,99985% off    ₹289₹1,99985% off
..        ...                  ...                  ...
95   RED TAPE  ₹1,275₹5,79978% off  ₹1,275₹5,79978% off
96       aadi  ₹1,299₹4,49971% off  ₹1,299₹4,49971% off
97    Aragats      ₹499₹99950% off      ₹499₹99950% off
98       PUMA  ₹1,187₹5,39978% off  ₹1,187₹5,39978% off
99  Ego by NS  ₹3,149₹6,99955% off  ₹3,149₹6,99955% off

[100 rows x 3 columns]

In [543]:
driver.close()

# question 7

In [590]:
driver=webdriver.Chrome()
url="https://www.amazon.in/"
driver.get(url)

In [591]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g
search_g.send_keys('intel corei7')

In [592]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn

In [593]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [594]:
title=[]
rating=[]
price=[]

In [ ]:
for i in range(3):
    name=driver.find_elements(By.XPATH,"//span[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    desc=driver.find_elements(By.XPATH,"//span[class='a-size-base s-underline-tex']")
    pri=driver.find_elements(By.XPATH,"//[span@class='a-price-whole']")
    
    
    for j  in name:
        title.append(j.text)
    title[:10]    
    
    
    
    for k in desc:
        rating.append(k.text)
    rating[:10] 
    
    
    for l in pri:
        Price.append(l.text)
    Price[:10]

In [623]:
title[:10]

['Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG',
 'IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'Core i7-13700K Desktop Processor 16 cores (8 P-cores + 8 E-cores) 30M Cache, up to 5.4 GHz Socket LGA 1700',
 'Core i7 12700 12th Gen Generation Desktop PC Processor CPU APU with 25MB Cache and up to 4.90 GHz Clock Speed 3 Years Warranty with Fan LGA 1700 4K (Graphic Card Not Required)',
 'Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'Core i7-9700K Processor (12M Cache, up to 4.90 GHz) LGA 1151 Socket',
 'Core i7-11700F 11th Gen Generation Desktop PC Processor CPU with 16 MB Cache and up to 4.90 GHz Clock Speed 3 Years Warranty Support LGA 1200 Socket (Graphic Card Mandatory)',
 'IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'Core™ i7-14700K New Gaming Desktop Processor 20 cores (8 P-cores + 12 E-cores) with Integrated Graphics - Unlocked',
 'Core™ i7-10700F Desktop Processor 16M Cache, up to 4.80 GHz LGA1200']

In [626]:
 rating[:10]

['', '', '', '', '', '', '', '', '', '']

In [625]:
Price[:10]

['₹497₹2,49980% off',
 '₹497₹2,49980% off',
 '₹299₹99970% off',
 '₹299₹99970% off',
 '₹289₹1,99985% off',
 '₹1,275₹5,79978% off',
 '₹1,299₹4,49971% off',
 '₹499₹99950% off',
 '₹1,187₹5,39978% off',
 '₹3,149₹6,99955% off']

In [630]:
print(len(title[:10]),len(rating[:10]),len(Price[:10]))

10 10 10

In [631]:
import pandas as pd
df=pd.DataFrame({'Title':title[:10],'rating':rating[:10],'price':Price[:10]})

In [632]:
df

,Title,rating,price
0,Aspire 5 Gaming Laptop Intel Core i7 13th Gen ...,,"₹497₹2,49980% off"
1,"IdeaPad Slim 3 Intel Core i7 11th Gen 15.6"" (3...",,"₹497₹2,49980% off"
2,Core i7-13700K Desktop Processor 16 cores (8 P...,,₹299₹99970% off
3,Core i7 12700 12th Gen Generation Desktop PC P...,,₹299₹99970% off
4,"Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6...",,"₹289₹1,99985% off"
5,"Core i7-9700K Processor (12M Cache, up to 4.90...",,"₹1,275₹5,79978% off"
6,Core i7-11700F 11th Gen Generation Desktop PC ...,,"₹1,299₹4,49971% off"
7,"IdeaPad Slim 3 Intel Core i7 11th Gen 15.6"" (3...",,₹499₹99950% off
8,Core™ i7-14700K New Gaming Desktop Processor 2...,,"₹1,187₹5,39978% off"
9,"Core™ i7-10700F Desktop Processor 16M Cache, u...",,"₹3,149₹6,99955% off"

In [633]:
driver.close()

# question 1

In [653]:
driver=webdriver.Chrome()
url="https://www.shine.com/"
driver.get(url)

In [665]:
search_g= driver.find_element(By.XPATH,"//div[@id='select_container_id_q']/input")
search_g
search_g.send_keys('Data Analyst')

In [667]:
search_l=driver.find_element(By.XPATH,"//div[@id='select_container_id_loc']/input")
search_l
search_l.send_keys('Bangalore')

In [670]:
search_btn=driver.find_element(By.XPATH,"//button[@type='submit']")
search_btn

In [671]:
search_btn=driver.find_element(By.XPATH,"//button[@type='submit']")
search_btn.click()

In [754]:
title=[]
locat=[]

In [775]:
for i in range(3):
    name=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
    loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]/div/div')
    #loc=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div/div/div')
    
    
    
    for j  in name:
        title.append(j.text)
    title[:10]    
    
    
    
    for k in loc:
        locat.append(k.text)
    locat[:10]

In [777]:
title[:10]

['Data Analyst Vacancy',
 'Data Analyst Vacancy',
 'Clinical Data Analyst',
 'Data Analyst Urgent Recruitment',
 'Data Analyst Urgent Recruitment',
 'Data Analyst Urgent Recruitment',
 'Data Analyst 1',
 'Data Analytics - Analyst',
 'Clinical Data Analyst',
 'Hiring For Data Analyst']

In [776]:
locat[:10]

['0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 2 Yrs\nBangalore\n+4',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '0 to 4 Yrs\nBangalore\n+14',
 '1 to 3 Yrs\nBangalore']

In [778]:
print(len(title[:10]),len(locat[:10]))

10 10

In [779]:
import pandas as pd
df=pd.DataFrame({'Title':title[:10],'location':locat[:10]})

In [780]:
df

                             Title                    location
0             Data Analyst Vacancy  0 to 4 Yrs\nBangalore\n+14
1             Data Analyst Vacancy  0 to 4 Yrs\nBangalore\n+14
2            Clinical Data Analyst  0 to 4 Yrs\nBangalore\n+14
3  Data Analyst Urgent Recruitment  0 to 4 Yrs\nBangalore\n+14
4  Data Analyst Urgent Recruitment  0 to 4 Yrs\nBangalore\n+14
5  Data Analyst Urgent Recruitment   0 to 2 Yrs\nBangalore\n+4
6                   Data Analyst 1  0 to 4 Yrs\nBangalore\n+14
7         Data Analytics - Analyst  0 to 4 Yrs\nBangalore\n+14
8            Clinical Data Analyst  0 to 4 Yrs\nBangalore\n+14
9          Hiring For Data Analyst       1 to 3 Yrs\nBangalore

In [781]:
driver.close()

# question 2

In [784]:
driver=webdriver.Chrome()
url="https://www.shine.com/"
driver.get(url)

In [786]:
search_g= driver.find_element(By.XPATH,"//div[@id='select_container_id_q']/input")
search_g
search_g.send_keys('Data Scientist')

In [787]:
search_l=driver.find_element(By.XPATH,"//div[@id='select_container_id_loc']/input")
search_l
search_l.send_keys('Bangalore')

In [788]:
search_btn=driver.find_element(By.XPATH,"//button[@type='submit']")
search_btn

In [789]:
search_btn=driver.find_element(By.XPATH,"//button[@type='submit']")
search_btn.click()

In [832]:
title=[]
l_loc=[]

In [833]:
for i in range(3):
    name=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
    loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
    
    
    
    for j  in name:
        title.append(j.text)
    title[:10]    
    
    
    
    for k in loc:
        l_loc.append(k.text)
    l_loc[:10]

In [798]:
title[:10]

['Data Scientist Vacancy',
 'Data Scientist Urgent Recruitment',
 'Data Scientist- Bangalore',
 'Data Scientist AI ML CV',
 'Data Scientist AI ML NLP',
 'Data Scientist-Bangalore',
 'Phd Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Staff Data Scientist & Team Lead']

In [834]:
l_loc[:10]

['Bangalore\n+14',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore']

In [835]:
print(len(title[:10]),len(l_loc[:10]))

10 10

In [837]:
df=pd.DataFrame({'Title':title[:10],'location':l_loc[:10]})

In [838]:
df

                               Title        location
0             Data Scientist Vacancy  Bangalore\n+14
1  Data Scientist Urgent Recruitment  Bangalore\n+14
2          Data Scientist- Bangalore       Bangalore
3            Data Scientist AI ML CV       Bangalore
4           Data Scientist AI ML NLP       Bangalore
5           Data Scientist-Bangalore       Bangalore
6                 Phd Data Scientist       Bangalore
7          Hiring For Data Scientist  Bangalore\n+14
8                     Data Scientist       Bangalore
9   Staff Data Scientist & Team Lead       Bangalore

# question 10

In [876]:
driver=webdriver.Chrome()
url="https://www.motor1.com/"
driver.get(url)

In [878]:
search_g= driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
search_g
search_g.send_keys('most expensive cars')

In [879]:
search_btn=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_btn

In [880]:
search_btn=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search_btn.click()

In [904]:
cars=[]

In [905]:
for i in range(3):
    name=driver.find_elements(By.XPATH,'//div[@class="info"]/div/h3/a')
    for j  in name:
        cars.append(j.text)
    cars[:50]

In [903]:
    cars[:50]

['Mercedes-AMG GT S used during winter gets the cleaning it deserves',
 'This 1996 Nissan Nismo GT-R is the most expensive in the world',
 'UK: Bentley performance cars line up for the most expensive drag race ever',
 "Bugatti La Voiture Noire joins world's most expensive cars at drag strip",
 'Most expensive auction at Monterey 2022 is 1955 Ferrari selling for £18m',
 "Mercedes 300 SLR Uhlenhaut Coupe is world's most expensive car at £114m",
 "Mercedes-Benz 300 SLR could be the world's most expensive car at £116m",
 "Bentley Coupe by Mulliner expected to be company's most expensive car ever",
 'Evo VI Tommi Makinen becomes most expensive Lancer sold at auction',
 "Study shows most drivers think electric cars are 'too expensive'"]

In [906]:
print(len(cars[:50]))

50

In [907]:
df=pd.DataFrame({'Most expensive cars':cars[:50]})

In [908]:
df

                                  Most expensive cars
0   Mercedes-AMG GT S used during winter gets the ...
1   This 1996 Nissan Nismo GT-R is the most expens...
2   UK: Bentley performance cars line up for the m...
3   Bugatti La Voiture Noire joins world's most ex...
4   Most expensive auction at Monterey 2022 is 195...
5   Mercedes 300 SLR Uhlenhaut Coupe is world's mo...
6   Mercedes-Benz 300 SLR could be the world's mos...
7   Bentley Coupe by Mulliner expected to be compa...
8   Evo VI Tommi Makinen becomes most expensive La...
9   Study shows most drivers think electric cars a...
10  Bugatti La Voiture Noire becomes the ultimate ...
11  Koenigsegg Regera and Agera RS with blue carbo...
12  Here are the most expensive Premier League pla...
13  February and August are the cheapest months to...
14  Birmingham is the UK's most expensive place to...
15  Nine of the 10 most expensive places to insure...
16  £6.7m Veneno Roadster becomes most expensive L...
17                20 most expensive cars in the world
18  Watch the world's most expensive new car in mo...
19  £150,000 Mercedes-Maybach GLS to be built in A...
20          The story behind Bugatti La Voiture Noire
21  Bugatti La Voiture Noire debuts in Geneva: Mos...
22        Top 5 most expensive Porsche cars ever sold
23   Toyota Century GRMN is real and it's spectacular
24  Mercedes-AMG GT S used during winter gets the ...
25  This 1996 Nissan Nismo GT-R is the most expens...
26  UK: Bentley performance cars line up for the m...
27  Bugatti La Voiture Noire joins world's most ex...
28  Most expensive auction at Monterey 2022 is 195...
29  Mercedes 300 SLR Uhlenhaut Coupe is world's mo...
30  Mercedes-Benz 300 SLR could be the world's mos...
31  Bentley Coupe by Mulliner expected to be compa...
32  Evo VI Tommi Makinen becomes most expensive La...
33  Study shows most drivers think electric cars a...
34  Bugatti La Voiture Noire becomes the ultimate ...
35  Koenigsegg Regera and Agera RS with blue carbo...
36  Here are the most expensive Premier League pla...
37  February and August are the cheapest months to...
38  Birmingham is the UK's most expensive place to...
39  Nine of the 10 most expensive places to insure...
40  £6.7m Veneno Roadster becomes most expensive L...
41                20 most expensive cars in the world
42  Watch the world's most expensive new car in mo...
43  £150,000 Mercedes-Maybach GLS to be built in A...
44          The story behind Bugatti La Voiture Noire
45  Bugatti La Voiture Noire debuts in Geneva: Mos...
46        Top 5 most expensive Porsche cars ever sold
47   Toyota Century GRMN is real and it's spectacular
48  Mercedes-AMG GT S used during winter gets the ...
49  This 1996 Nissan Nismo GT-R is the most expens...

In [909]:
driver.close()

# Question 9

In [919]:
driver=webdriver.Chrome()
url="https://www.jagranjosh.com/"
driver.get(url)

In [922]:
search_btn=driver.find_element(By.XPATH,'//meta[@content="GK"]')
search_btn

In [924]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a')
search_btn.click()

In [925]:
search_btn1=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search_btn1

In [926]:
search_btn1=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search_btn1.click()

In [978]:
title=[]
born_dead=[]
term=[]
remarks=[]

In [981]:
title=[]
born_dead=[]
term=[]
remarks=[]

In [983]:
 for i in range(3):
    name=driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 121px;"]/p/a')
    for j  in name:
        title.append(j.text)
    title[:50]

In [985]:
title[:50]

[]

In [986]:
#stuck at this stage

In [989]:
driver=webdriver.Chrome()
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews"
driver.get(url)