# assignment 4

# Question 1

In [253]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re

In [54]:
driver=webdriver.Chrome()
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [91]:
rank=[]

In [92]:
name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
try:
    for i in name:
        rank.append(i.text[:-1])
except NoSuchElementException:
    rank.append('N/A')

In [93]:
v_name=[]
artist=[]
views=[]
date=[]

In [94]:

name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
try:
    for i in name:
        v_name.append(i.text[1:-5])
except NoSuchElementException:
    v_name.append('N/A')

    
try:
    name1=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in name1:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')


try:
    name2=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in name2:
        views.append(i.text)
except NoSuchElementException:
    views.append('N/A')


try:
    date1=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in date1:
        date.append(i.text)
except NoSuchElementException:
    date.append('N/A')

In [102]:
import pandas as pd
df=pd.DataFrame()
df["Rank"]=rank
df["Name"]=v_name
df["Artist"]=artist
df["Views"]=views
df["Date"]=date

In [103]:
df

,Rank,Name,Artist,Views,Date
0,1,Baby Shark Danc,Pinkfong Baby Shark - Kids' Songs & Stories,Pinkfong Baby Shark - Kids' Songs & Stories,Pinkfong Baby Shark - Kids' Songs & Stories
1,2,Despacit,Luis Fonsi,Luis Fonsi,Luis Fonsi
2,3,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,LooLoo Kids - Nursery Rhymes and Children's Songs,LooLoo Kids - Nursery Rhymes and Children's Songs
3,4,Bath Song,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes
4,5,Shape of You,Ed Sheeran,Ed Sheeran,Ed Sheeran
5,6,See You Again,Wiz Khalifa,Wiz Khalifa,Wiz Khalifa
6,7,Wheels on the Bus,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes
7,8,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,ChuChu TV Nursery Rhymes & Kids Songs,ChuChu TV Nursery Rhymes & Kids Songs
8,9,Uptown Funk,Mark Ronson,Mark Ronson,Mark Ronson
9,10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,Miroshka TV,Miroshka TV
10,11,Gangnam Style,officialpsy,officialpsy,officialpsy
11,12,Masha and the Bear – Recipe for Disaster,Get Movies,Get Movies,Get Movies
12,13,Dame Tu Cosita,Ultra Records,Ultra Records,Ultra Records
13,14,Axel F,Crazy Frog,Crazy Frog,Crazy Frog
14,15,Sugar,Maroon 5,Maroon 5,Maroon 5
15,16,Counting Stars,OneRepublic,OneRepublic,OneRepublic
16,17,Roar,Katy Perry,Katy Perry,Katy Perry
17,18,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes,Cocomelon - Nursery Rhymes
18,19,Waka Waka (This Time for Africa),Shakira,Shakira,Shakira
19,20,Lakdi Ki Kathi,Jingle Toons,Jingle Toons,Jingle Toons
20,21,Sorry,Justin Bieber,Justin Bieber,Justin Bieber
21,22,Thinking Out Loud,Ed Sheeran,Ed Sheeran,Ed Sheeran
22,23,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,Kiddiestv Hindi - Nursery Rhymes & Kids Songs
23,24,Dark Horse,Katy Perry,Katy Perry,Katy Perry
24,25,Perfect,Ed Sheeran,Ed Sheeran,Ed Sheeran
25,26,Let Her Go,Passenger,Passenger,Passenger
26,27,Faded,Alan Walker,Alan Walker,Alan Walker
27,28,Shree Hanuman Chalisa,T-Series Bhakti Sagar,T-Series Bhakti Sagar,T-Series Bhakti Sagar
28,29,Girls Like You,Maroon 5,Maroon 5,Maroon 5
29,30,Lean On,Major Lazer Official,Major Lazer Official,Major Lazer Official

In [104]:
driver.close()

# question 3

In [116]:
driver=webdriver.Chrome()
url="http://statisticstimes.com/"
driver.get(url)

In [123]:
btn = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
btn.click()

In [124]:
btn1 = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
btn1.click()

In [125]:
btn2 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
btn2.click()

In [152]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
GDP=[]

In [153]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]")
try:
    for i in name:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('N/A')

In [154]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]")
try:
    for i in name:
        state.append(i.text[:-1])
except NoSuchElementException:
    state.append('N/A')

In [155]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]")
try:
    for i in name:
        gsdp1.append(i.text)
except NoSuchElementException:
    gsdp1.append('N/A')

In [156]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
try:
    for i in name:
        gsdp2.append(i.text)
except NoSuchElementException:
    gsdp2.append('N/A')

In [157]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
try:
    for i in name:
        share.append(i.text)
except NoSuchElementException:
    share.append('N/A')

In [158]:
name=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
try:
    for i in name:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('N/A')

In [159]:
len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(GDP)

(33, 33, 33, 33, 33, 33)

In [161]:
import pandas as pd
df=pd.DataFrame()
df["Rank"]=rank
df["State"]=state
df["GSDP(18-19)"]=gsdp1
df["GSDP(19-20)"]=gsdp2
df["share (18-19)"]=share
df["GDP $billion"]=GDP

In [162]:
df

,Rank,State,GSDP(18-19),GSDP(19-20),share (18-19),GDP $billion
0,1,Maharashtr,-,"2,632,792","2,632,792","2,632,792"
1,2,Tamil Nad,"1,845,853","1,630,208","1,630,208","1,630,208"
2,3,Uttar Prades,"1,687,818","1,584,764","1,584,764","1,584,764"
3,4,Gujara,-,"1,502,899","1,502,899","1,502,899"
4,5,Karnatak,"1,631,977","1,493,127","1,493,127","1,493,127"
5,6,West Benga,"1,253,832","1,089,898","1,089,898","1,089,898"
6,7,Rajastha,"1,020,989","942,586","942,586","942,586"
7,8,Andhra Prades,"972,782","862,957","862,957","862,957"
8,9,Telangan,"969,604","861,031","861,031","861,031"
9,10,Madhya Prades,"906,672","809,592","809,592","809,592"
10,11,Keral,-,"781,653","781,653","781,653"
11,12,Delh,"856,112","774,870","774,870","774,870"
12,13,Haryan,"831,610","734,163","734,163","734,163"
13,14,Biha,"611,804","530,363","530,363","530,363"
14,15,Punja,"574,760","526,376","526,376","526,376"
15,16,Odish,"521,275","487,805","487,805","487,805"
16,17,Assa,-,"315,881","315,881","315,881"
17,18,Chhattisgar,"329,180","304,063","304,063","304,063"
18,19,Jharkhan,"328,598","297,204","297,204","297,204"
19,20,Uttarakhan,-,"245,895","245,895","245,895"
20,21,Jammu & Kashmi,-,"155,956","155,956","155,956"
21,22,Himachal Prades,"165,472","153,845","153,845","153,845"
22,23,Go,"80,449","73,170","73,170","73,170"
23,24,Tripur,"55,984","49,845","49,845","49,845"
24,25,Chandigar,-,"42,114","42,114","42,114"
25,26,Puducherr,"38,253","34,433","34,433","34,433"
26,27,Meghalay,"36,572","33,481","33,481","33,481"
27,28,Sikki,"32,496","28,723","28,723","28,723"
28,29,Manipu,"31,790","27,870","27,870","27,870"
29,30,Nagalan,-,"27,283","27,283","27,283"
30,31,Arunachal Prades,-,"24,603","24,603","24,603"
31,32,Mizora,"26,503","22,287","22,287","22,287"
32,33,Andaman & Nicobar Island,-,-,-,-

In [164]:
driver.close()

# question 6

In [365]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re

In [368]:
driver=webdriver.Chrome()
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [396]:
b_name=[]
author=[]
volum=[] 
publish=[] 
genre=[]

In [397]:
try:
    names1=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names1:
        b_name.append(i.text)
except NoSuchElementException:
    b_name.append('N/A')

In [398]:
b_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [399]:
try:
    name1=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in name1:
        author.append(i.text)
except NoSuchElementException:
    author.append('N/A')

In [400]:
try:
    names2=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in names2:
        volum.append(i.text)
except NoSuchElementException:
    volum.append('N/A')

In [401]:
try:
    name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in name:
        publish.append(i.text)
except NoSuchElementException:
    publish.append('N/A')

In [402]:
try:
    name4=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in name4:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('N/A')

In [403]:
import pandas as pd
df=pd.DataFrame()
df["Book Name"]=b_name
df["Author name"]=author
df["Volumes sold"]=volum 
df["Publisher"]=publish
df["Genre"]=genre

In [404]:
df

,Book Name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [405]:
driver.close()

# question 7

In [473]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re
import pandas as pd

In [474]:
driver=webdriver.Chrome()
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [475]:
N_name=[]
Year=[] 
Genre=[] 
Run_time=[]
Ratings=[] 
Votes=[]

In [476]:

try:
    names=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in names:
        N_name.append(i.text)
except NosuchElementException:
    N_Name.append('N/A')

In [477]:
try:
    Yr=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in Yr:
        Year.append(i.text)
except NosuchElementException:
    Year.append('N/A')

In [478]:
try:
    gen=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in gen:
        Genre.append(i.text)
except NosuchElementException:
    Genre.append('N/A')

In [479]:
try:
    runt=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in runt:
        Run_time.append(i.text)
except NosuchElementException:
    Run_time.append('N/A')

In [480]:
try:
    rati=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in rati:
        Ratings.append(i.text)
except NosuchElementException:
    Ratings.append('N/A')

In [481]:
try:
    vote=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in vote:
        Votes.append(i.text)
except NosuchElementException:
    Votes.append('N/A')

In [482]:
df=pd.DataFrame()
df["Name"]=N_name
df["Year span"]=Year 
df["Genre"]=Genre
df["Run time"]=Run_time 
df["Ratings"]=Ratings
df["Votes"]=Votes

In [483]:
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","Action, Adventure, Drama",9.2,"2,226,191"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror","Drama, Fantasy, Horror",8.7,"1,293,254"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller","Drama, Horror, Thriller",8.1,"1,056,090"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller","Drama, Mystery, Thriller",7.5,"310,085"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi","Drama, Mystery, Sci-Fi",7.6,"269,197"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,Drama,7.5,"53,263"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama","Adventure, Comedy, Drama",7.8,"65,354"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery","Crime, Drama, Mystery",8.1,"213,136"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama","Comedy, Crime, Drama",7,"44,369"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery","Drama, Horror, Mystery",8.6,"277,930"

In [484]:
driver.close()

# question 4

In [578]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re

In [646]:
driver=webdriver.Chrome()
url="https://github.com/"
driver.get(url)

In [647]:
btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
btn.click()

In [648]:
trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending.click()

In [649]:
n_name=[]
desc=[]

In [650]:
try:
    na=driver.find_elements(By.XPATH,'//div[@class="position-relative container-lg p-responsive pt-6"]/div/div[2]/article/h2/a')
    for i in na:
        n_name.append(i.text)
except NoSuchElementException:
    n_name.append('N/A')

In [651]:
n_name

['LouisShark / chatgpt_system_prompt',
 'linexjlin / GPTs',
 'OthersideAI / self-operating-computer',
 'opa334 / TrollStore',
 'nlohmann / json',
 'run-llama / rags',
 '1Panel-dev / 1Panel',
 'Vaibhavs10 / insanely-fast-whisper',
 'grpc-ecosystem / grpc-gateway',
 '521xueweihan / HelloGitHub',
 'googleapis / google-api-php-client',
 'Ftindy / IPTV-URL',
 'NVIDIA / Megatron-LM',
 'jason5ng32 / MyIP',
 'florinpop17 / app-ideas',
 'gto76 / python-cheatsheet',
 'makeplane / plane',
 'atomone-hub / genesis',
 'pointfreeco / swift-composable-architecture',
 'fastlane / fastlane',
 'StanGirard / quivr',
 'Azure / azure-quickstart-templates',
 'brianvoe / gofakeit',
 'DrKLO / Telegram',
 'Melledy / LunarCore']

In [652]:
try:
    ds=driver.find_elements(By.XPATH,'//div[@class="position-relative container-lg p-responsive pt-6"]/div/div[2]/article/p')
    for i in ds:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')

In [653]:
desc

["store all agent's system prompt",
 'leaked prompts of GPTs',
 'Jailed iOS app that can install IPAs permanently with arbitary entitlements and root helpers because it trolls Apple',
 'JSON for Modern C++',
 'Build ChatGPT over your data, all with natural language',
 '🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。',
 'gRPC to JSON proxy generator following the gRPC HTTP spec',
 '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.',
 'A PHP client library for accessing Google APIs',
 'Ongoing research training transformer models at scale',
 'IP Toolkit. It allows you to view local IP, IP information after using a proxy, check for DNS leaks, examine WebRTC connections, and test website availability. || IP 工具箱。可以查看本机IP、挂代理后的IP信息、检查 DNS 泄露、检查 WebRTC 连接、测试网站可用性等。',
 'A Collection of application ideas which can be used to improve your coding skills.',
 'Comprehensive Python Cheatsheet',
 '🔥 🔥 🔥 Open Source JIRA, Linear and Height Alternative. Plane helps you track your issues, epics, and product roadmaps in the simplest way possible.',
 'declaration of genesis',
 'A library for building applications in a consistent and understandable way, with composition, testing, and ergonomics in mind.',
 '🚀 The easiest way to automate building and releasing your iOS and Android apps',
 '🧠 Your supercharged Second Brain 🧠 Your personal productivity assistant to chat with your dumped files (PDF, CSV) & apps using GPT 3.5 / 4 turbo, Private, Anthropic, VertexAI, Ollama, LLMs, that you can share with users ! Local & Private alternative to OpenAI GPTs',
 'Azure Quickstart Templates',
 'Random fake data generator written in go',
 'Telegram for Android source']

In [655]:
urls=[]
match=driver.find_elements(By.XPATH,'//div[@class="position-relative container-lg p-responsive pt-6"]/div/div[2]/article/h2/a')
for i in match:
    urls.append(i.get_attribute('href'))

In [656]:
urls

['https://github.com/LouisShark/chatgpt_system_prompt',
 'https://github.com/linexjlin/GPTs',
 'https://github.com/OthersideAI/self-operating-computer',
 'https://github.com/opa334/TrollStore',
 'https://github.com/nlohmann/json',
 'https://github.com/run-llama/rags',
 'https://github.com/1Panel-dev/1Panel',
 'https://github.com/Vaibhavs10/insanely-fast-whisper',
 'https://github.com/grpc-ecosystem/grpc-gateway',
 'https://github.com/521xueweihan/HelloGitHub',
 'https://github.com/googleapis/google-api-php-client',
 'https://github.com/Ftindy/IPTV-URL',
 'https://github.com/NVIDIA/Megatron-LM',
 'https://github.com/jason5ng32/MyIP',
 'https://github.com/florinpop17/app-ideas',
 'https://github.com/gto76/python-cheatsheet',
 'https://github.com/makeplane/plane',
 'https://github.com/atomone-hub/genesis',
 'https://github.com/pointfreeco/swift-composable-architecture',
 'https://github.com/fastlane/fastlane',
 'https://github.com/StanGirard/quivr',
 'https://github.com/Azure/azure-quickstart-templates',
 'https://github.com/brianvoe/gofakeit',
 'https://github.com/DrKLO/Telegram',
 'https://github.com/Melledy/LunarCore']

In [638]:
lang=[]

In [657]:
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[6]/div/h2')    
        lang.append(count.text)
except NoSuchElementException:
    lang.append('na')

In [658]:
lang

['Languages', 'na', 'Languages', 'na']

In [666]:
driver.close()

# question 8

In [675]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings 
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.keys import Keys
import requests
import re

In [667]:
driver=webdriver.Chrome()
url="http://www.billboard.com/"
driver.get(url)

In [677]:
bt=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[2]/h3/a")
driver.get(bt.get_attribute('href'))

In [729]:
song=[]

In [730]:
try:
    sng = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
    for i in sng:
        song.append(i.text)
except NoSuchElementException:
    song.append('N/A')

In [731]:
artist=[]

In [732]:
try:
    art = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')

In [733]:
l_rank=[]

In [734]:
try:
    rnk = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]/span')
    for i in rnk:
        l_rank.append(i.text)
except NoSuchElementException:
    l_rank.append('N/A')

In [735]:
p_rank=[]

In [736]:
try:
    rnk1 = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]')
    for i in rnk1:
        p_rank.append(i.text)
except NoSuchElementException:
    p_rank.append('N/A')

In [737]:
wk_board=[]

In [738]:
try:
    wk = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]/span')
    for i in wk:
        wk_board.append(i.text)
except NoSuchElementException:
    wk_board.append('N/A')

In [748]:
len(song),len(l_rank),len(p_rank),len(wk_board)

(100, 100, 100, 100)

In [754]:
len(artist)

400

In [752]:
import pandas as pd
df=pd.DataFrame()
df["Song Title"]=song
#df["Artist"]=artist
df["Last Week rank"]=l_rank
df["Peak Rank"]=p_rank
df["Weeks on Board"]=wk_board

In [753]:
df

                         Song Title Last Week rank Peak Rank Weeks on Board
0                       Lovin On Me              2         1              1
1                      Cruel Summer              1         1              1
2                Paint The Town Red              3         1              1
3   All I Want For Christmas Is You             17         1              1
4                            Snooze              4         2              2
..                              ...            ...       ...            ...
95            Different 'Round Here             97        96             96
96                           Bongos             72        14             14
97      But I Got A Beer In My Hand             98        92             92
98                  Calling For You              -         5              5
99                Mi Ex Tenia Razon             96        22             22

[100 rows x 4 columns]

In [755]:
driver.close()